USE [master]
GO
/****** Object:  Database [FineArtsInstitute_Final]    Script Date: 03/04/2026 10:35:24 CH ******/
CREATE DATABASE [FineArtsInstitute_Final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FineArtsInstitute_Final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FineArtsInstitute_Final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FineArtsInstitute_Final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FineArtsInstitute_Final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FineArtsInstitute_Final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FineArtsInstitute_Final]
GO
/****** Object:  Table [dbo].[CompetitionCriteria]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetitionCriteria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompetitionId] [int] NOT NULL,
	[CriteriaId] [int] NOT NULL,
	[WeightPercent] [decimal](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CompetitionCriteria] UNIQUE NONCLUSTERED 
(
	[CompetitionId] ASC,
	[CriteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompetitionId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[WorkUrl] [nvarchar](max) NULL,
	[ProposedPrice] [decimal](18, 2) NULL,
	[SubmittedAt] [datetimeoffset](7) NULL,
	[FileName] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Quotation] [nvarchar](max) NULL,
	[Poem] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubmissionReviews]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmissionReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubmissionId] [int] NOT NULL,
	[StaffId] [int] NOT NULL,
	[RatingLevel] [nvarchar](20) NOT NULL,
	[Strengths] [nvarchar](max) NULL,
	[Weaknesses] [nvarchar](max) NULL,
	[Improvements] [nvarchar](max) NULL,
	[ReviewedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeDetails]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NOT NULL,
	[CriteriaId] [int] NOT NULL,
	[RawScore] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ReviewCriteria] UNIQUE NONCLUSTERED 
(
	[ReviewId] ASC,
	[CriteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SubmissionTotalScore]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SubmissionTotalScore] AS
SELECT sr.SubmissionId,
       SUM(gd.RawScore * cc.WeightPercent / 100.0) AS TotalScore_0_100
FROM SubmissionReviews sr
JOIN GradeDetails gd       ON gd.ReviewId   = sr.Id
JOIN Submissions s          ON s.Id          = sr.SubmissionId
JOIN CompetitionCriteria cc ON cc.CompetitionId = s.CompetitionId
                           AND cc.CriteriaId    = gd.CriteriaId
GROUP BY sr.SubmissionId
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [varchar](20) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[Link] [nvarchar](500) NULL,
	[CompetitionId] [int] NULL,
	[SubmissionId] [int] NULL,
	[AwardId] [int] NULL,
	[ExhibitionId] [int] NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UnreadNotificationCount]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_UnreadNotificationCount] AS
SELECT UserId, COUNT(*) AS UnreadCount
FROM Notifications
WHERE IsRead = 0
GROUP BY UserId
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AwardName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompetitionAwards]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetitionAwards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompetitionId] [int] NOT NULL,
	[AwardId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competitions]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Criteria]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criteria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CriteriaCode] [varchar](50) NOT NULL,
	[CriteriaName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CriteriaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exhibitions]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Location] [nvarchar](200) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExhibitionSubmissions]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExhibitionSubmissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitionId] [int] NOT NULL,
	[SubmissionId] [int] NOT NULL,
	[ProposedPrice] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[ExpiresAt] [datetimeoffset](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitionSubmissionId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[SoldPrice] [decimal](18, 2) NOT NULL,
	[SoldDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[UserId] [int] NOT NULL,
	[DateJoined] [date] NULL,
	[SubjectHandled] [nvarchar](100) NULL,
	[Remarks] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAwards]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAwards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubmissionId] [int] NOT NULL,
	[AwardId] [int] NULL,
	[AwardedBy] [int] NOT NULL,
	[AwardedDate] [date] NULL,
	[CompetitionAwardId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[UserId] [int] NOT NULL,
	[AdmissionNumber] [varchar](20) NOT NULL,
	[AdmissionDate] [date] NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AdmissionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[IsActive] [bit] NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId_IsRead]    Script Date: 03/04/2026 10:35:24 CH ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId_IsRead] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[IsRead] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Competitions] ADD  DEFAULT ('Upcoming') FOR [Status]
GO
ALTER TABLE [dbo].[Competitions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Criteria] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Exhibitions] ADD  DEFAULT ('Planned') FOR [Status]
GO
ALTER TABLE [dbo].[ExhibitionSubmissions] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [SoldDate]
GO
ALTER TABLE [dbo].[StudentAwards] ADD  DEFAULT (getdate()) FOR [AwardedDate]
GO
ALTER TABLE [dbo].[SubmissionReviews] ADD  DEFAULT (sysdatetimeoffset()) FOR [ReviewedAt]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ((0)) FOR [ProposedPrice]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (sysdatetimeoffset()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[CompetitionAwards]  WITH CHECK ADD  CONSTRAINT [FK_CompetitionAwards_Awards] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Awards] ([Id])
GO
ALTER TABLE [dbo].[CompetitionAwards] CHECK CONSTRAINT [FK_CompetitionAwards_Awards]
GO
ALTER TABLE [dbo].[CompetitionAwards]  WITH CHECK ADD  CONSTRAINT [FK_CompetitionAwards_Competitions] FOREIGN KEY([CompetitionId])
REFERENCES [dbo].[Competitions] ([Id])
GO
ALTER TABLE [dbo].[CompetitionAwards] CHECK CONSTRAINT [FK_CompetitionAwards_Competitions]
GO
ALTER TABLE [dbo].[CompetitionCriteria]  WITH CHECK ADD  CONSTRAINT [FK_CC_Competition] FOREIGN KEY([CompetitionId])
REFERENCES [dbo].[Competitions] ([Id])
GO
ALTER TABLE [dbo].[CompetitionCriteria] CHECK CONSTRAINT [FK_CC_Competition]
GO
ALTER TABLE [dbo].[CompetitionCriteria]  WITH CHECK ADD  CONSTRAINT [FK_CC_Criteria] FOREIGN KEY([CriteriaId])
REFERENCES [dbo].[Criteria] ([Id])
GO
ALTER TABLE [dbo].[CompetitionCriteria] CHECK CONSTRAINT [FK_CC_Criteria]
GO
ALTER TABLE [dbo].[Competitions]  WITH CHECK ADD  CONSTRAINT [FK_Competitions_Users_Creator] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Competitions] CHECK CONSTRAINT [FK_Competitions_Users_Creator]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[ExhibitionSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_ExhSub_Exhibitions] FOREIGN KEY([ExhibitionId])
REFERENCES [dbo].[Exhibitions] ([Id])
GO
ALTER TABLE [dbo].[ExhibitionSubmissions] CHECK CONSTRAINT [FK_ExhSub_Exhibitions]
GO
ALTER TABLE [dbo].[ExhibitionSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_ExhSub_Submissions] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
GO
ALTER TABLE [dbo].[ExhibitionSubmissions] CHECK CONSTRAINT [FK_ExhSub_Submissions]
GO
ALTER TABLE [dbo].[GradeDetails]  WITH CHECK ADD  CONSTRAINT [FK_GradeDetails_Criteria] FOREIGN KEY([CriteriaId])
REFERENCES [dbo].[Criteria] ([Id])
GO
ALTER TABLE [dbo].[GradeDetails] CHECK CONSTRAINT [FK_GradeDetails_Criteria]
GO
ALTER TABLE [dbo].[GradeDetails]  WITH CHECK ADD  CONSTRAINT [FK_GradeDetails_Reviews] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[SubmissionReviews] ([Id])
GO
ALTER TABLE [dbo].[GradeDetails] CHECK CONSTRAINT [FK_GradeDetails_Reviews]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Award] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Awards] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Award]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Competition] FOREIGN KEY([CompetitionId])
REFERENCES [dbo].[Competitions] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Competition]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Exhibition] FOREIGN KEY([ExhibitionId])
REFERENCES [dbo].[Exhibitions] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Exhibition]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Submission] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Submission]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Users]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Customers]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_ExhSub] FOREIGN KEY([ExhibitionSubmissionId])
REFERENCES [dbo].[ExhibitionSubmissions] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_ExhSub]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Users]
GO
ALTER TABLE [dbo].[StudentAwards]  WITH CHECK ADD  CONSTRAINT [FK_StudentAwards_Admin] FOREIGN KEY([AwardedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StudentAwards] CHECK CONSTRAINT [FK_StudentAwards_Admin]
GO
ALTER TABLE [dbo].[StudentAwards]  WITH CHECK ADD  CONSTRAINT [FK_StudentAwards_CompetitionAwards] FOREIGN KEY([CompetitionAwardId])
REFERENCES [dbo].[CompetitionAwards] ([Id])
GO
ALTER TABLE [dbo].[StudentAwards] CHECK CONSTRAINT [FK_StudentAwards_CompetitionAwards]
GO
ALTER TABLE [dbo].[StudentAwards]  WITH CHECK ADD  CONSTRAINT [FK_StudentAwards_Submissions] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
GO
ALTER TABLE [dbo].[StudentAwards] CHECK CONSTRAINT [FK_StudentAwards_Submissions]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[SubmissionReviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Staffs] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SubmissionReviews] CHECK CONSTRAINT [FK_Reviews_Staffs]
GO
ALTER TABLE [dbo].[SubmissionReviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Submissions] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
GO
ALTER TABLE [dbo].[SubmissionReviews] CHECK CONSTRAINT [FK_Reviews_Submissions]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Competitions] FOREIGN KEY([CompetitionId])
REFERENCES [dbo].[Competitions] ([Id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Competitions]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Users] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[CompetitionCriteria]  WITH CHECK ADD  CONSTRAINT [CK_CC_WeightPercent] CHECK  (([WeightPercent]>(0) AND [WeightPercent]<=(100)))
GO
ALTER TABLE [dbo].[CompetitionCriteria] CHECK CONSTRAINT [CK_CC_WeightPercent]
GO
ALTER TABLE [dbo].[GradeDetails]  WITH CHECK ADD  CONSTRAINT [CK_GradeDetails_RawScore] CHECK  (([RawScore]>=(0) AND [RawScore]<=(100)))
GO
ALTER TABLE [dbo].[GradeDetails] CHECK CONSTRAINT [CK_GradeDetails_RawScore]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notif_Type] CHECK  (([Type]='announcement' OR [Type]='purchase' OR [Type]='exhibition' OR [Type]='competition' OR [Type]='submission' OR [Type]='award'))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notif_Type]
GO
ALTER TABLE [dbo].[SubmissionReviews]  WITH CHECK ADD  CONSTRAINT [CK_RatingLevel] CHECK  (([RatingLevel]=N'Disqualified' OR [RatingLevel]=N'Normal' OR [RatingLevel]=N'Moderate' OR [RatingLevel]=N'Good' OR [RatingLevel]=N'Better' OR [RatingLevel]=N'Best'))
GO
ALTER TABLE [dbo].[SubmissionReviews] CHECK CONSTRAINT [CK_RatingLevel]
GO
/****** Object:  StoredProcedure [dbo].[sp_BroadcastAnnouncement]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BroadcastAnnouncement]
    @Title    NVARCHAR(200),
    @Message  NVARCHAR(MAX),
    @Link     NVARCHAR(500) = NULL,
    @RoleName NVARCHAR(50)  = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Notifications (UserId, Type, Title, Message, Link)
    SELECT u.Id, 'announcement', @Title, @Message, @Link
    FROM Users u
    JOIN Roles r ON r.Id = u.RoleId
    WHERE u.IsActive = 1
      AND (@RoleName IS NULL OR r.RoleName = @RoleName);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkNotificationsRead]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MarkNotificationsRead]
    @UserId         INT,
    @NotificationId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Notifications
    SET IsRead = 1
    WHERE UserId = @UserId
      AND (@NotificationId IS NULL OR Id = @NotificationId)
      AND IsRead = 0;
END
GO
/****** Object:  Trigger [dbo].[TRG_CompetitionCriteria_WeightSum_100]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 1. TRG_CompetitionCriteria_WeightSum_100
--    Validates total weight per competition must equal 100%
-- ============================================================
CREATE TRIGGER [dbo].[TRG_CompetitionCriteria_WeightSum_100]
ON [dbo].[CompetitionCriteria]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Bad INT = 0;

    SELECT @Bad = COUNT(*)
    FROM (
        SELECT CompetitionId FROM inserted
        UNION
        SELECT CompetitionId FROM deleted
    ) AS ChangedCompetitions
    CROSS APPLY (
        SELECT COALESCE(SUM(WeightPercent), 0) AS TotalWeight
        FROM CompetitionCriteria
        WHERE CompetitionId = ChangedCompetitions.CompetitionId
    ) x
    WHERE x.TotalWeight > 0.01
      AND ABS(x.TotalWeight - 100.0) > 0.01
      AND x.TotalWeight > 100.01;

    IF @Bad > 0
    BEGIN
        RAISERROR (N'Total WeightPercent for each competition must equal 100', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END
END;
GO
ALTER TABLE [dbo].[CompetitionCriteria] ENABLE TRIGGER [TRG_CompetitionCriteria_WeightSum_100]
GO
/****** Object:  Trigger [dbo].[TRG_Notif_CompetitionStatus]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 2. TRG_Notif_CompetitionStatus
--    Notifies students when competition status changes
-- ============================================================
CREATE TRIGGER [dbo].[TRG_Notif_CompetitionStatus]
ON [dbo].[Competitions]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT UPDATE(Status) RETURN;

    INSERT INTO Notifications (UserId, Type, Title, Message, Link, CompetitionId)
    SELECT DISTINCT
        s.StudentId,
        'competition',
        CASE i.Status
            WHEN 'Ongoing'   THEN N'Competition Started'
            WHEN 'Completed' THEN N'Competition Ended'
            ELSE N'Competition Status Updated'
        END,
        N'Competition "' + i.Title + N'" is now ' + i.Status + N'.',
        N'/dashboard/view-competitions',
        i.Id
    FROM inserted i
    JOIN deleted  d ON d.Id = i.Id AND d.Status <> i.Status
    JOIN Submissions s ON s.CompetitionId = i.Id;
END;
GO
ALTER TABLE [dbo].[Competitions] ENABLE TRIGGER [TRG_Notif_CompetitionStatus]
GO
/****** Object:  Trigger [dbo].[TRG_Notif_ExhibitionAdded]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 3. TRG_Notif_ExhibitionAdded
--    Notifies student when artwork is added to an exhibition
-- ============================================================
CREATE TRIGGER [dbo].[TRG_Notif_ExhibitionAdded]
ON [dbo].[ExhibitionSubmissions]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, ExhibitionId)
    SELECT
        s.StudentId,
        'exhibition',
        N'Artwork Selected for Exhibition',
        N'Your artwork "' + ISNULL(s.Title, N'Untitled') + N'" has been selected for the exhibition "' + e.Title + N'".',
        N'/dashboard/my-submissions',
        s.Id,
        i.ExhibitionId
    FROM inserted i
    JOIN Submissions s ON s.Id = i.SubmissionId
    JOIN Exhibitions e ON e.Id = i.ExhibitionId;
END;
GO
ALTER TABLE [dbo].[ExhibitionSubmissions] ENABLE TRIGGER [TRG_Notif_ExhibitionAdded]
GO
/****** Object:  Trigger [dbo].[TRG_Notif_ArtworkSold]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 4. TRG_Notif_ArtworkSold
--    Notifies student (owner), customer (buyer), and managers
-- ============================================================
CREATE TRIGGER [dbo].[TRG_Notif_ArtworkSold]
ON [dbo].[Sales]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Notify student (artwork owner)
    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, ExhibitionId)
    SELECT
        s.StudentId,
        'purchase',
        N'Your Artwork Was Sold',
        N'"' + ISNULL(s.Title, N'Untitled') + N'" was sold for $' + FORMAT(i.SoldPrice, 'N0') + N'.',
        N'/dashboard/my-submissions',
        s.Id,
        es.ExhibitionId
    FROM inserted i
    JOIN ExhibitionSubmissions es ON es.Id = i.ExhibitionSubmissionId
    JOIN Submissions s            ON s.Id  = es.SubmissionId;

    -- Notify customer (buyer)
    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, ExhibitionId)
    SELECT
        c.UserId,
        'purchase',
        N'Purchase Confirmed',
        N'You have successfully purchased "' + ISNULL(s.Title, N'Untitled') + N'" for $' + FORMAT(i.SoldPrice, 'N0') + N'.',
        N'/dashboard',
        s.Id,
        es.ExhibitionId
    FROM inserted i
    JOIN ExhibitionSubmissions es ON es.Id = i.ExhibitionSubmissionId
    JOIN Submissions s            ON s.Id  = es.SubmissionId
    JOIN Customers c              ON c.Id  = i.CustomerId;

    -- Notify all active managers
    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, ExhibitionId)
    SELECT
        u.Id,
        'purchase',
        N'Artwork Sold',
        N'"' + ISNULL(s.Title, N'Untitled') + N'" sold for $' + FORMAT(i.SoldPrice, 'N0') + N'.',
        N'/dashboard/exhibitions',
        s.Id,
        es.ExhibitionId
    FROM inserted i
    JOIN ExhibitionSubmissions es ON es.Id = i.ExhibitionSubmissionId
    JOIN Submissions s            ON s.Id  = es.SubmissionId
    CROSS JOIN (
        SELECT Id FROM Users
        WHERE RoleId = (SELECT Id FROM Roles WHERE RoleName = 'Manager')
        AND IsActive = 1
    ) u;
END;
GO
ALTER TABLE [dbo].[Sales] ENABLE TRIGGER [TRG_Notif_ArtworkSold]
GO
/****** Object:  Trigger [dbo].[TRG_Notif_AwardGranted]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 5. TRG_Notif_AwardGranted
--    Notifies student when award is granted
--    Uses CompetitionAwardId (new schema)
-- ============================================================
CREATE TRIGGER [dbo].[TRG_Notif_AwardGranted]
ON [dbo].[StudentAwards]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, CompetitionId)
    SELECT
        s.StudentId,
        'award',
        N'Congratulations! Award Won',
        N'You won "' + ca.AwardName + N'" for your submission "' + ISNULL(s.Title, N'Untitled') + N'".',
        N'/dashboard/my-awards',
        s.Id,
        s.CompetitionId
    FROM inserted i
    JOIN Submissions s       ON s.Id  = i.SubmissionId
    JOIN CompetitionAwards ca ON ca.Id = i.CompetitionAwardId;
END;
GO
ALTER TABLE [dbo].[StudentAwards] ENABLE TRIGGER [TRG_Notif_AwardGranted]
GO
/****** Object:  Trigger [dbo].[TRG_Notif_SubmissionReviewed]    Script Date: 03/04/2026 10:35:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 6. TRG_Notif_SubmissionReviewed
--    Notifies student and managers when submission is reviewed
-- ============================================================
CREATE TRIGGER [dbo].[TRG_Notif_SubmissionReviewed]
ON [dbo].[SubmissionReviews]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Notify student
    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, CompetitionId)
    SELECT
        s.StudentId,
        'submission',
        N'Submission Evaluated',
        N'Your submission "' + ISNULL(s.Title, N'Untitled') + N'" has been rated as "' + i.RatingLevel + N'".',
        N'/dashboard/my-submissions',
        s.Id,
        s.CompetitionId
    FROM inserted i
    JOIN Submissions s ON s.Id = i.SubmissionId;

    -- Notify all active managers
    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, CompetitionId)
    SELECT
        u.Id,
        'submission',
        N'Submission Reviewed',
        N'Staff reviewed "' + ISNULL(s.Title, N'Untitled') + N'" - rated ' + i.RatingLevel + N'.',
        N'/dashboard/submissions',
        s.Id,
        s.CompetitionId
    FROM inserted i
    JOIN Submissions s ON s.Id = i.SubmissionId
    CROSS JOIN (
        SELECT Id FROM Users
        WHERE RoleId = (SELECT Id FROM Roles WHERE RoleName = 'Manager')
        AND IsActive = 1
    ) u;
END;
GO
ALTER TABLE [dbo].[SubmissionReviews] ENABLE TRIGGER [TRG_Notif_SubmissionReviewed]
GO
USE [master]
GO
