USE [master]
GO
/****** Object:  Database [FineArtsInstitute_Final]    Script Date: 03/04/2026 11:03:38 CH ******/
CREATE DATABASE [FineArtsInstitute_Final]
 
USE [FineArtsInstitute_Final]
GO
/****** Object:  Table [dbo].[CompetitionCriteria]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetitionCriteria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompetitionId] [int] NOT NULL,
	[CriteriaId] [int] NOT NULL,
	[WeightPercent] [decimal](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompetitionId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[WorkUrl] [nvarchar](max) NULL,
	[ProposedPrice] [decimal](18, 2) NULL,
	[SubmittedAt] [datetimeoffset](7) NULL,
	[FileName] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Quotation] [nvarchar](max) NULL,
	[Poem] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubmissionReviews]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmissionReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubmissionId] [int] NOT NULL,
	[StaffId] [int] NOT NULL,
	[RatingLevel] [nvarchar](20) NOT NULL,
	[Strengths] [nvarchar](max) NULL,
	[Weaknesses] [nvarchar](max) NULL,
	[Improvements] [nvarchar](max) NULL,
	[ReviewedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeDetails]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NOT NULL,
	[CriteriaId] [int] NOT NULL,
	[RawScore] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SubmissionTotalScore]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SubmissionTotalScore] AS
SELECT sr.SubmissionId,
       SUM(gd.RawScore * cc.WeightPercent / 100.0) AS TotalScore_0_100
FROM SubmissionReviews sr
JOIN GradeDetails gd       ON gd.ReviewId   = sr.Id
JOIN Submissions s          ON s.Id          = sr.SubmissionId
JOIN CompetitionCriteria cc ON cc.CompetitionId = s.CompetitionId
                           AND cc.CriteriaId    = gd.CriteriaId
GROUP BY sr.SubmissionId
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [varchar](20) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[Link] [nvarchar](500) NULL,
	[CompetitionId] [int] NULL,
	[SubmissionId] [int] NULL,
	[AwardId] [int] NULL,
	[ExhibitionId] [int] NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UnreadNotificationCount]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_UnreadNotificationCount] AS
SELECT UserId, COUNT(*) AS UnreadCount
FROM Notifications
WHERE IsRead = 0
GROUP BY UserId
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AwardName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompetitionAwards]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetitionAwards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompetitionId] [int] NOT NULL,
	[AwardId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competitions]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Criteria]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criteria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CriteriaCode] [varchar](50) NOT NULL,
	[CriteriaName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exhibitions]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Location] [nvarchar](200) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExhibitionSubmissions]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExhibitionSubmissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitionId] [int] NOT NULL,
	[SubmissionId] [int] NOT NULL,
	[ProposedPrice] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[ExpiresAt] [datetimeoffset](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitionSubmissionId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[SoldPrice] [decimal](18, 2) NOT NULL,
	[SoldDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[UserId] [int] NOT NULL,
	[DateJoined] [date] NULL,
	[SubjectHandled] [nvarchar](100) NULL,
	[Remarks] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAwards]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAwards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubmissionId] [int] NOT NULL,
	[AwardId] [int] NULL,
	[AwardedBy] [int] NOT NULL,
	[AwardedDate] [date] NULL,
	[CompetitionAwardId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[UserId] [int] NOT NULL,
	[AdmissionNumber] [varchar](20) NOT NULL,
	[AdmissionDate] [date] NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[IsActive] [bit] NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Awards] ON 

INSERT [dbo].[Awards] ([Id], [AwardName], [Description]) VALUES (1, N'First Prize', N'Awarded to the best submission in the competition')
INSERT [dbo].[Awards] ([Id], [AwardName], [Description]) VALUES (2, N'Second Prize', N'Awarded to the second-best submission in the competition')
INSERT [dbo].[Awards] ([Id], [AwardName], [Description]) VALUES (3, N'Third Prize', N'Awarded to the third-best submission in the competition')
SET IDENTITY_INSERT [dbo].[Awards] OFF
GO
SET IDENTITY_INSERT [dbo].[CompetitionAwards] ON 

INSERT [dbo].[CompetitionAwards] ([Id], [CompetitionId], [AwardId]) VALUES (1, 1, 1)
INSERT [dbo].[CompetitionAwards] ([Id], [CompetitionId], [AwardId]) VALUES (2, 1, 2)
INSERT [dbo].[CompetitionAwards] ([Id], [CompetitionId], [AwardId]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[CompetitionAwards] OFF
GO
SET IDENTITY_INSERT [dbo].[CompetitionCriteria] ON 

INSERT [dbo].[CompetitionCriteria] ([Id], [CompetitionId], [CriteriaId], [WeightPercent]) VALUES (1, 1, 1, CAST(25.00 AS Decimal(6, 2)))
INSERT [dbo].[CompetitionCriteria] ([Id], [CompetitionId], [CriteriaId], [WeightPercent]) VALUES (2, 1, 2, CAST(25.00 AS Decimal(6, 2)))
INSERT [dbo].[CompetitionCriteria] ([Id], [CompetitionId], [CriteriaId], [WeightPercent]) VALUES (3, 1, 3, CAST(25.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[CompetitionCriteria] OFF
GO
SET IDENTITY_INSERT [dbo].[Competitions] ON 

INSERT [dbo].[Competitions] ([Id], [Title], [Description], [StartDate], [EndDate], [CreatedBy], [Status], [IsDeleted]) VALUES (1, N'Spring Art Competition 2025', N'Annual spring competition celebrating creativity and artistic expression', CAST(N'2025-03-01T00:00:00.000' AS DateTime), CAST(N'2025-05-31T00:00:00.000' AS DateTime), 1, N'Completed', 0)
INSERT [dbo].[Competitions] ([Id], [Title], [Description], [StartDate], [EndDate], [CreatedBy], [Status], [IsDeleted]) VALUES (2, N'Digital Art Showcase 2025', N'Explore the intersection of technology and traditional art forms', CAST(N'2025-06-01T00:00:00.000' AS DateTime), CAST(N'2025-08-31T00:00:00.000' AS DateTime), 1, N'Completed', 0)
INSERT [dbo].[Competitions] ([Id], [Title], [Description], [StartDate], [EndDate], [CreatedBy], [Status], [IsDeleted]) VALUES (3, N'Abstract Expressions 2025', N'A competition focused on abstract and experimental art techniques', CAST(N'2025-09-01T00:00:00.000' AS DateTime), CAST(N'2025-11-30T00:00:00.000' AS DateTime), 1, N'Completed', 0)
SET IDENTITY_INSERT [dbo].[Competitions] OFF
GO
SET IDENTITY_INSERT [dbo].[Criteria] ON 

INSERT [dbo].[Criteria] ([Id], [CriteriaCode], [CriteriaName], [IsActive]) VALUES (1, N'CREATIVITY', N'CREATIVITY', 1)
INSERT [dbo].[Criteria] ([Id], [CriteriaCode], [CriteriaName], [IsActive]) VALUES (2, N'COMPLETION', N'COMPLETION', 1)
INSERT [dbo].[Criteria] ([Id], [CriteriaCode], [CriteriaName], [IsActive]) VALUES (3, N'SKILLS', N'SKILLS', 1)
SET IDENTITY_INSERT [dbo].[Criteria] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [UserId], [Address], [Notes], [CreatedAt]) VALUES (1, 7, N'k, m, m', NULL, CAST(N'2026-03-22T22:57:13.8836476+07:00' AS DateTimeOffset))
INSERT [dbo].[Customers] ([Id], [UserId], [Address], [Notes], [CreatedAt]) VALUES (2, 8, NULL, NULL, CAST(N'2026-03-22T22:57:13.8836476+07:00' AS DateTimeOffset))
INSERT [dbo].[Customers] ([Id], [UserId], [Address], [Notes], [CreatedAt]) VALUES (3, 14, N'123 Oak Street, New York', N'Prefers careful packaging', CAST(N'2026-03-23T11:40:26.5930153+07:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Exhibitions] ON 

INSERT [dbo].[Exhibitions] ([Id], [Title], [Location], [StartDate], [EndDate], [Status]) VALUES (1, N'Spring Gallery 2025', N'Main Hall, IFA Campus', CAST(N'2025-07-01' AS Date), CAST(N'2025-07-31' AS Date), N'Completed')
INSERT [dbo].[Exhibitions] ([Id], [Title], [Location], [StartDate], [EndDate], [Status]) VALUES (2, N'Digital Art Exhibition 2025', N'Gallery B, IFA Campus', CAST(N'2025-10-01' AS Date), CAST(N'2025-10-31' AS Date), N'Completed')
INSERT [dbo].[Exhibitions] ([Id], [Title], [Location], [StartDate], [EndDate], [Status]) VALUES (3, N'Contemporary Digital Art 2026', N'Museum of Modern Art, New York', CAST(N'2026-03-01' AS Date), CAST(N'2026-04-30' AS Date), N'Ongoing')
SET IDENTITY_INSERT [dbo].[Exhibitions] OFF
GO
SET IDENTITY_INSERT [dbo].[ExhibitionSubmissions] ON 

INSERT [dbo].[ExhibitionSubmissions] ([Id], [ExhibitionId], [SubmissionId], [ProposedPrice], [Status]) VALUES (1, 1, 1, CAST(2000000.00 AS Decimal(18, 2)), N'Sold')
INSERT [dbo].[ExhibitionSubmissions] ([Id], [ExhibitionId], [SubmissionId], [ProposedPrice], [Status]) VALUES (2, 1, 2, CAST(1500000.00 AS Decimal(18, 2)), N'Available')
INSERT [dbo].[ExhibitionSubmissions] ([Id], [ExhibitionId], [SubmissionId], [ProposedPrice], [Status]) VALUES (3, 2, 3, CAST(2500000.00 AS Decimal(18, 2)), N'Available')
SET IDENTITY_INSERT [dbo].[ExhibitionSubmissions] OFF
GO
SET IDENTITY_INSERT [dbo].[GradeDetails] ON 

INSERT [dbo].[GradeDetails] ([Id], [ReviewId], [CriteriaId], [RawScore]) VALUES (5, 2, 1, CAST(82.00 AS Decimal(5, 2)))
INSERT [dbo].[GradeDetails] ([Id], [ReviewId], [CriteriaId], [RawScore]) VALUES (6, 2, 2, CAST(88.00 AS Decimal(5, 2)))
INSERT [dbo].[GradeDetails] ([Id], [ReviewId], [CriteriaId], [RawScore]) VALUES (7, 2, 3, CAST(85.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[GradeDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Type], [Title], [Message], [IsRead], [Link], [CompetitionId], [SubmissionId], [AwardId], [ExhibitionId], [CreatedAt]) VALUES (1, 4, N'submission', N'Submission Evaluated', N'Your submission "Blooming Dreams" has been rated as "Best".', 1, N'/dashboard/my-submissions', 1, 1, NULL, NULL, CAST(N'2025-04-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Notifications] ([Id], [UserId], [Type], [Title], [Message], [IsRead], [Link], [CompetitionId], [SubmissionId], [AwardId], [ExhibitionId], [CreatedAt]) VALUES (2, 4, N'award', N'Congratulations! Award Won', N'You won "First Prize" for your submission "Blooming Dreams".', 1, N'/dashboard/my-awards', NULL, 1, 1, NULL, CAST(N'2025-06-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Notifications] ([Id], [UserId], [Type], [Title], [Message], [IsRead], [Link], [CompetitionId], [SubmissionId], [AwardId], [ExhibitionId], [CreatedAt]) VALUES (3, 5, N'submission', N'Submission Evaluated', N'Your submission "Urban Geometry" has been rated as "Better".', 1, N'/dashboard/my-submissions', 1, 2, NULL, NULL, CAST(N'2025-04-05T00:00:00.0000000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [IsRevoked], [CreatedAt]) VALUES (1, 4, N'F2LTJlWaVvxslfBkCxPf5XMlwPPKHS8i96ia94cIrNDbXpynatdq8ZgDM59hPpTNAcFvIdDsFlbES9APZ1QlfA==', CAST(N'2026-04-04T19:05:16.5753005+00:00' AS DateTimeOffset), 1, CAST(N'2026-04-01T19:05:16.5740252+00:00' AS DateTimeOffset))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [IsRevoked], [CreatedAt]) VALUES (2, 3, N'vkWdfn/1S5hHAijCoEtc5fYe7AbwQx5GSbId+ijrMuC4r8BXHhEs92kXXvqkYR0VD1TcCzqkIrg4BocnVmtfgg==', CAST(N'2026-04-04T19:07:50.1109226+00:00' AS DateTimeOffset), 1, CAST(N'2026-04-01T19:07:50.1108744+00:00' AS DateTimeOffset))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [IsRevoked], [CreatedAt]) VALUES (3, 3, N'TiADFrUc+wxRnCVvT6J4h3gRHmXzHx1uldq2wR9ytDxOglYRLba7tfzyuSb7r2uqPQjXo3EkKxE0f2VZUjHffQ==', CAST(N'2026-04-05T02:09:20.0700644+00:00' AS DateTimeOffset), 1, CAST(N'2026-04-02T02:09:20.0691010+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (5, N'Customer')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'Manager')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([Id], [ExhibitionSubmissionId], [CustomerId], [SoldPrice], [SoldDate]) VALUES (1, 1, 1, CAST(2200000.00 AS Decimal(18, 2)), CAST(N'2025-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Sales] ([Id], [ExhibitionSubmissionId], [CustomerId], [SoldPrice], [SoldDate]) VALUES (2, 4, 2, CAST(1900000.00 AS Decimal(18, 2)), CAST(N'2025-10-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Sales] ([Id], [ExhibitionSubmissionId], [CustomerId], [SoldPrice], [SoldDate]) VALUES (3, 6, 3, CAST(2200000.00 AS Decimal(18, 2)), CAST(N'2026-03-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
INSERT [dbo].[Staffs] ([UserId], [DateJoined], [SubjectHandled], [Remarks]) VALUES (2, CAST(N'2020-01-15' AS Date), N'Administration', N'Manager')
INSERT [dbo].[Staffs] ([UserId], [DateJoined], [SubjectHandled], [Remarks]) VALUES (3, CAST(N'2021-06-01' AS Date), N'Fine Arts', N'Evaluator')
INSERT [dbo].[Staffs] ([UserId], [DateJoined], [SubjectHandled], [Remarks]) VALUES (9, CAST(N'2021-09-20' AS Date), N'Art & Design', N'Innovative teaching methods')
GO
SET IDENTITY_INSERT [dbo].[StudentAwards] ON 

INSERT [dbo].[StudentAwards] ([Id], [SubmissionId], [AwardId], [AwardedBy], [AwardedDate], [CompetitionAwardId]) VALUES (2, 3, 1, 1, CAST(N'2025-09-01' AS Date), 3)
INSERT [dbo].[StudentAwards] ([Id], [SubmissionId], [AwardId], [AwardedBy], [AwardedDate], [CompetitionAwardId]) VALUES (1021, 17, NULL, 3, CAST(N'2026-04-03' AS Date), 7)
INSERT [dbo].[StudentAwards] ([Id], [SubmissionId], [AwardId], [AwardedBy], [AwardedDate], [CompetitionAwardId]) VALUES (1022, 12, NULL, 3, CAST(N'2026-04-03' AS Date), 4)
SET IDENTITY_INSERT [dbo].[StudentAwards] OFF
GO
INSERT [dbo].[Students] ([UserId], [AdmissionNumber], [AdmissionDate], [DateOfBirth], [Address]) VALUES (4, N'STU-2024-001', CAST(N'2024-09-01' AS Date), CAST(N'2005-03-15' AS Date), N'123 Art Street, Creative City')
INSERT [dbo].[Students] ([UserId], [AdmissionNumber], [AdmissionDate], [DateOfBirth], [Address]) VALUES (5, N'STU-2024-002', CAST(N'2024-09-01' AS Date), CAST(N'2005-07-22' AS Date), N'456 Palette Ave, Design Town')
INSERT [dbo].[Students] ([UserId], [AdmissionNumber], [AdmissionDate], [DateOfBirth], [Address]) VALUES (6, N'STU-2024-003', CAST(N'2024-09-01' AS Date), CAST(N'2005-11-08' AS Date), N'789 Canvas Blvd, Art District')
GO
SET IDENTITY_INSERT [dbo].[SubmissionReviews] ON 

INSERT [dbo].[SubmissionReviews] ([Id], [SubmissionId], [StaffId], [RatingLevel], [Strengths], [Weaknesses], [Improvements], [ReviewedAt]) VALUES (1, 1, 2, N'Best', N'Exceptional use of color and composition', N'Minor perspective issues in background', N'Consider adding more depth to the background elements', CAST(N'2026-04-02T03:25:50.5093148+00:00' AS DateTimeOffset))
INSERT [dbo].[SubmissionReviews] ([Id], [SubmissionId], [StaffId], [RatingLevel], [Strengths], [Weaknesses], [Improvements], [ReviewedAt]) VALUES (2, 2, 3, N'Better', N'Strong geometric composition and clean lines', N'Color palette could be more varied', N'Experiment with warmer tones to add visual interest', CAST(N'2025-04-05T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[SubmissionReviews] ([Id], [SubmissionId], [StaffId], [RatingLevel], [Strengths], [Weaknesses], [Improvements], [ReviewedAt]) VALUES (3, 3, 3, N'Best', N'Innovative use of digital techniques', N'Some areas lack detail', N'Add more intricate details to the foreground', CAST(N'2025-07-01T00:00:00.0000000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[SubmissionReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Submissions] ON 

INSERT [dbo].[Submissions] ([Id], [CompetitionId], [StudentId], [Title], [WorkUrl], [ProposedPrice], [SubmittedAt], [FileName], [Description], [Quotation], [Poem]) VALUES (1, 1, 4, N'Blooming Dreams', N'https://images.unsplash.com/photo-1579783902614-a3fb3927b6a5?w=400', CAST(2000000.00 AS Decimal(18, 2)), CAST(N'2025-03-15T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, NULL)
INSERT [dbo].[Submissions] ([Id], [CompetitionId], [StudentId], [Title], [WorkUrl], [ProposedPrice], [SubmittedAt], [FileName], [Description], [Quotation], [Poem]) VALUES (2, 1, 5, N'Urban Geometry', N'https://images.unsplash.com/photo-1558618666-fcd25c85cd64?w=400', CAST(1500000.00 AS Decimal(18, 2)), CAST(N'2025-03-20T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, NULL)
INSERT [dbo].[Submissions] ([Id], [CompetitionId], [StudentId], [Title], [WorkUrl], [ProposedPrice], [SubmittedAt], [FileName], [Description], [Quotation], [Poem]) VALUES (3, 2, 4, N'Digital Dreamscape', N'https://images.unsplash.com/photo-1547036967-23d11aacaee0?w=400', CAST(2500000.00 AS Decimal(18, 2)), CAST(N'2025-06-10T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Submissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [Phone], [IsActive], [RoleId], [CreatedAt], [AvatarUrl]) VALUES (1, N'admin', N'password123', N'Admin User', N'admin@ifa.edu', NULL, 1, 1, CAST(N'2026-03-22T22:57:13.8646446+07:00' AS DateTimeOffset), N'https://api.dicebear.com/7.x/avataaars/svg?seed=admin')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [Phone], [IsActive], [RoleId], [CreatedAt], [AvatarUrl]) VALUES (2, N'manager', N'password123', N'Manager User', N'manager@ifa.edu', NULL, 1, 2, CAST(N'2026-03-22T22:57:13.8646446+07:00' AS DateTimeOffset), N'https://api.dicebear.com/7.x/avataaars/svg?seed=manager')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [Phone], [IsActive], [RoleId], [CreatedAt], [AvatarUrl]) VALUES (3, N'staff', N'password123', N'Staff Member', N'staff@ifa.edu', N'555-0103', 1, 3, CAST(N'2026-03-22T22:57:13.8646446+07:00' AS DateTimeOffset), N'https://api.dicebear.com/7.x/avataaars/svg?seed=staff')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_CompetitionCriteria]    Script Date: 03/04/2026 11:03:38 CH ******/
ALTER TABLE [dbo].[CompetitionCriteria] ADD  CONSTRAINT [UQ_CompetitionCriteria] UNIQUE NONCLUSTERED 
(
	[CompetitionId] ASC,
	[CriteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Criteria__D27358E522D3B16E]    Script Date: 03/04/2026 11:03:38 CH ******/
ALTER TABLE [dbo].[Criteria] ADD UNIQUE NONCLUSTERED 
(
	[CriteriaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__1788CC4DAD18D7C6]    Script Date: 03/04/2026 11:03:38 CH ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ReviewCriteria]    Script Date: 03/04/2026 11:03:38 CH ******/
ALTER TABLE [dbo].[GradeDetails] ADD  CONSTRAINT [UQ_ReviewCriteria] UNIQUE NONCLUSTERED 
(
	[ReviewId] ASC,
	[CriteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId_IsRead]    Script Date: 03/04/2026 11:03:38 CH ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId_IsRead] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[IsRead] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160A0297D87]    Script Date: 03/04/2026 11:03:38 CH ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__B468CC97990BFC84]    Script Date: 03/04/2026 11:03:38 CH ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[AdmissionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Submissi__449EE12482AED411]    Script Date: 03/04/2026 11:03:38 CH ******/
ALTER TABLE [dbo].[SubmissionReviews] ADD UNIQUE NONCLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E430BBB199]    Script Date: 03/04/2026 11:03:38 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Competitions] ADD  DEFAULT ('Upcoming') FOR [Status]
GO
ALTER TABLE [dbo].[Competitions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Criteria] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Exhibitions] ADD  DEFAULT ('Planned') FOR [Status]
GO
ALTER TABLE [dbo].[ExhibitionSubmissions] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [SoldDate]
GO
ALTER TABLE [dbo].[StudentAwards] ADD  DEFAULT (getdate()) FOR [AwardedDate]
GO
ALTER TABLE [dbo].[SubmissionReviews] ADD  DEFAULT (sysdatetimeoffset()) FOR [ReviewedAt]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ((0)) FOR [ProposedPrice]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (sysdatetimeoffset()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[CompetitionAwards]  WITH CHECK ADD  CONSTRAINT [FK_CompetitionAwards_Awards] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Awards] ([Id])
GO
ALTER TABLE [dbo].[CompetitionAwards] CHECK CONSTRAINT [FK_CompetitionAwards_Awards]
GO
ALTER TABLE [dbo].[CompetitionAwards]  WITH CHECK ADD  CONSTRAINT [FK_CompetitionAwards_Competitions] FOREIGN KEY([CompetitionId])
REFERENCES [dbo].[Competitions] ([Id])
GO
ALTER TABLE [dbo].[CompetitionAwards] CHECK CONSTRAINT [FK_CompetitionAwards_Competitions]
GO
ALTER TABLE [dbo].[CompetitionCriteria]  WITH CHECK ADD  CONSTRAINT [FK_CC_Competition] FOREIGN KEY([CompetitionId])
REFERENCES [dbo].[Competitions] ([Id])
GO
ALTER TABLE [dbo].[CompetitionCriteria] CHECK CONSTRAINT [FK_CC_Competition]
GO
ALTER TABLE [dbo].[CompetitionCriteria]  WITH CHECK ADD  CONSTRAINT [FK_CC_Criteria] FOREIGN KEY([CriteriaId])
REFERENCES [dbo].[Criteria] ([Id])
GO
ALTER TABLE [dbo].[CompetitionCriteria] CHECK CONSTRAINT [FK_CC_Criteria]
GO
ALTER TABLE [dbo].[Competitions]  WITH CHECK ADD  CONSTRAINT [FK_Competitions_Users_Creator] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Competitions] CHECK CONSTRAINT [FK_Competitions_Users_Creator]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[ExhibitionSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_ExhSub_Exhibitions] FOREIGN KEY([ExhibitionId])
REFERENCES [dbo].[Exhibitions] ([Id])
GO
ALTER TABLE [dbo].[ExhibitionSubmissions] CHECK CONSTRAINT [FK_ExhSub_Exhibitions]
GO
ALTER TABLE [dbo].[ExhibitionSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_ExhSub_Submissions] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
GO
ALTER TABLE [dbo].[ExhibitionSubmissions] CHECK CONSTRAINT [FK_ExhSub_Submissions]
GO
ALTER TABLE [dbo].[GradeDetails]  WITH CHECK ADD  CONSTRAINT [FK_GradeDetails_Criteria] FOREIGN KEY([CriteriaId])
REFERENCES [dbo].[Criteria] ([Id])
GO
ALTER TABLE [dbo].[GradeDetails] CHECK CONSTRAINT [FK_GradeDetails_Criteria]
GO
ALTER TABLE [dbo].[GradeDetails]  WITH CHECK ADD  CONSTRAINT [FK_GradeDetails_Reviews] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[SubmissionReviews] ([Id])
GO
ALTER TABLE [dbo].[GradeDetails] CHECK CONSTRAINT [FK_GradeDetails_Reviews]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Award] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Awards] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Award]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Competition] FOREIGN KEY([CompetitionId])
REFERENCES [dbo].[Competitions] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Competition]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Exhibition] FOREIGN KEY([ExhibitionId])
REFERENCES [dbo].[Exhibitions] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Exhibition]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Submission] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Submission]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Users]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Customers]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_ExhSub] FOREIGN KEY([ExhibitionSubmissionId])
REFERENCES [dbo].[ExhibitionSubmissions] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_ExhSub]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Users]
GO
ALTER TABLE [dbo].[StudentAwards]  WITH CHECK ADD  CONSTRAINT [FK_StudentAwards_Admin] FOREIGN KEY([AwardedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StudentAwards] CHECK CONSTRAINT [FK_StudentAwards_Admin]
GO
ALTER TABLE [dbo].[StudentAwards]  WITH CHECK ADD  CONSTRAINT [FK_StudentAwards_CompetitionAwards] FOREIGN KEY([CompetitionAwardId])
REFERENCES [dbo].[CompetitionAwards] ([Id])
GO
ALTER TABLE [dbo].[StudentAwards] CHECK CONSTRAINT [FK_StudentAwards_CompetitionAwards]
GO
ALTER TABLE [dbo].[StudentAwards]  WITH CHECK ADD  CONSTRAINT [FK_StudentAwards_Submissions] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
GO
ALTER TABLE [dbo].[StudentAwards] CHECK CONSTRAINT [FK_StudentAwards_Submissions]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[SubmissionReviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Staffs] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SubmissionReviews] CHECK CONSTRAINT [FK_Reviews_Staffs]
GO
ALTER TABLE [dbo].[SubmissionReviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Submissions] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
GO
ALTER TABLE [dbo].[SubmissionReviews] CHECK CONSTRAINT [FK_Reviews_Submissions]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Competitions] FOREIGN KEY([CompetitionId])
REFERENCES [dbo].[Competitions] ([Id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Competitions]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Users] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[CompetitionCriteria]  WITH CHECK ADD  CONSTRAINT [CK_CC_WeightPercent] CHECK  (([WeightPercent]>(0) AND [WeightPercent]<=(100)))
GO
ALTER TABLE [dbo].[CompetitionCriteria] CHECK CONSTRAINT [CK_CC_WeightPercent]
GO
ALTER TABLE [dbo].[GradeDetails]  WITH CHECK ADD  CONSTRAINT [CK_GradeDetails_RawScore] CHECK  (([RawScore]>=(0) AND [RawScore]<=(100)))
GO
ALTER TABLE [dbo].[GradeDetails] CHECK CONSTRAINT [CK_GradeDetails_RawScore]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notif_Type] CHECK  (([Type]='announcement' OR [Type]='purchase' OR [Type]='exhibition' OR [Type]='competition' OR [Type]='submission' OR [Type]='award'))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notif_Type]
GO
ALTER TABLE [dbo].[SubmissionReviews]  WITH CHECK ADD  CONSTRAINT [CK_RatingLevel] CHECK  (([RatingLevel]=N'Disqualified' OR [RatingLevel]=N'Normal' OR [RatingLevel]=N'Moderate' OR [RatingLevel]=N'Good' OR [RatingLevel]=N'Better' OR [RatingLevel]=N'Best'))
GO
ALTER TABLE [dbo].[SubmissionReviews] CHECK CONSTRAINT [CK_RatingLevel]
GO
/****** Object:  StoredProcedure [dbo].[sp_BroadcastAnnouncement]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BroadcastAnnouncement]
    @Title    NVARCHAR(200),
    @Message  NVARCHAR(MAX),
    @Link     NVARCHAR(500) = NULL,
    @RoleName NVARCHAR(50)  = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Notifications (UserId, Type, Title, Message, Link)
    SELECT u.Id, 'announcement', @Title, @Message, @Link
    FROM Users u
    JOIN Roles r ON r.Id = u.RoleId
    WHERE u.IsActive = 1
      AND (@RoleName IS NULL OR r.RoleName = @RoleName);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkNotificationsRead]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MarkNotificationsRead]
    @UserId         INT,
    @NotificationId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Notifications
    SET IsRead = 1
    WHERE UserId = @UserId
      AND (@NotificationId IS NULL OR Id = @NotificationId)
      AND IsRead = 0;
END
GO
/****** Object:  Trigger [dbo].[TRG_CompetitionCriteria_WeightSum_100]    Script Date: 03/04/2026 11:03:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 1. TRG_CompetitionCriteria_WeightSum_100
--    Validates total weight per competition must equal 100%
-- ============================================================
CREATE TRIGGER [dbo].[TRG_CompetitionCriteria_WeightSum_100]
ON [dbo].[CompetitionCriteria]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Bad INT = 0;

    SELECT @Bad = COUNT(*)
    FROM (
        SELECT CompetitionId FROM inserted
        UNION
        SELECT CompetitionId FROM deleted
    ) AS ChangedCompetitions
    CROSS APPLY (
        SELECT COALESCE(SUM(WeightPercent), 0) AS TotalWeight
        FROM CompetitionCriteria
        WHERE CompetitionId = ChangedCompetitions.CompetitionId
    ) x
    WHERE x.TotalWeight > 0.01
      AND ABS(x.TotalWeight - 100.0) > 0.01
      AND x.TotalWeight > 100.01;

    IF @Bad > 0
    BEGIN
        RAISERROR (N'Total WeightPercent for each competition must equal 100', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END
END;
GO
ALTER TABLE [dbo].[CompetitionCriteria] ENABLE TRIGGER [TRG_CompetitionCriteria_WeightSum_100]
GO
/****** Object:  Trigger [dbo].[TRG_Notif_CompetitionStatus]    Script Date: 03/04/2026 11:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 2. TRG_Notif_CompetitionStatus
--    Notifies students when competition status changes
-- ============================================================
CREATE TRIGGER [dbo].[TRG_Notif_CompetitionStatus]
ON [dbo].[Competitions]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT UPDATE(Status) RETURN;

    INSERT INTO Notifications (UserId, Type, Title, Message, Link, CompetitionId)
    SELECT DISTINCT
        s.StudentId,
        'competition',
        CASE i.Status
            WHEN 'Ongoing'   THEN N'Competition Started'
            WHEN 'Completed' THEN N'Competition Ended'
            ELSE N'Competition Status Updated'
        END,
        N'Competition "' + i.Title + N'" is now ' + i.Status + N'.',
        N'/dashboard/view-competitions',
        i.Id
    FROM inserted i
    JOIN deleted  d ON d.Id = i.Id AND d.Status <> i.Status
    JOIN Submissions s ON s.CompetitionId = i.Id;
END;
GO
ALTER TABLE [dbo].[Competitions] ENABLE TRIGGER [TRG_Notif_CompetitionStatus]
GO
/****** Object:  Trigger [dbo].[TRG_Notif_ExhibitionAdded]    Script Date: 03/04/2026 11:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 3. TRG_Notif_ExhibitionAdded
--    Notifies student when artwork is added to an exhibition
-- ============================================================
CREATE TRIGGER [dbo].[TRG_Notif_ExhibitionAdded]
ON [dbo].[ExhibitionSubmissions]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, ExhibitionId)
    SELECT
        s.StudentId,
        'exhibition',
        N'Artwork Selected for Exhibition',
        N'Your artwork "' + ISNULL(s.Title, N'Untitled') + N'" has been selected for the exhibition "' + e.Title + N'".',
        N'/dashboard/my-submissions',
        s.Id,
        i.ExhibitionId
    FROM inserted i
    JOIN Submissions s ON s.Id = i.SubmissionId
    JOIN Exhibitions e ON e.Id = i.ExhibitionId;
END;
GO
ALTER TABLE [dbo].[ExhibitionSubmissions] ENABLE TRIGGER [TRG_Notif_ExhibitionAdded]
GO
/****** Object:  Trigger [dbo].[TRG_Notif_ArtworkSold]    Script Date: 03/04/2026 11:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 4. TRG_Notif_ArtworkSold
--    Notifies student (owner), customer (buyer), and managers
-- ============================================================
CREATE TRIGGER [dbo].[TRG_Notif_ArtworkSold]
ON [dbo].[Sales]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Notify student (artwork owner)
    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, ExhibitionId)
    SELECT
        s.StudentId,
        'purchase',
        N'Your Artwork Was Sold',
        N'"' + ISNULL(s.Title, N'Untitled') + N'" was sold for $' + FORMAT(i.SoldPrice, 'N0') + N'.',
        N'/dashboard/my-submissions',
        s.Id,
        es.ExhibitionId
    FROM inserted i
    JOIN ExhibitionSubmissions es ON es.Id = i.ExhibitionSubmissionId
    JOIN Submissions s            ON s.Id  = es.SubmissionId;

    -- Notify customer (buyer)
    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, ExhibitionId)
    SELECT
        c.UserId,
        'purchase',
        N'Purchase Confirmed',
        N'You have successfully purchased "' + ISNULL(s.Title, N'Untitled') + N'" for $' + FORMAT(i.SoldPrice, 'N0') + N'.',
        N'/dashboard',
        s.Id,
        es.ExhibitionId
    FROM inserted i
    JOIN ExhibitionSubmissions es ON es.Id = i.ExhibitionSubmissionId
    JOIN Submissions s            ON s.Id  = es.SubmissionId
    JOIN Customers c              ON c.Id  = i.CustomerId;

    -- Notify all active managers
    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, ExhibitionId)
    SELECT
        u.Id,
        'purchase',
        N'Artwork Sold',
        N'"' + ISNULL(s.Title, N'Untitled') + N'" sold for $' + FORMAT(i.SoldPrice, 'N0') + N'.',
        N'/dashboard/exhibitions',
        s.Id,
        es.ExhibitionId
    FROM inserted i
    JOIN ExhibitionSubmissions es ON es.Id = i.ExhibitionSubmissionId
    JOIN Submissions s            ON s.Id  = es.SubmissionId
    CROSS JOIN (
        SELECT Id FROM Users
        WHERE RoleId = (SELECT Id FROM Roles WHERE RoleName = 'Manager')
        AND IsActive = 1
    ) u;
END;
GO
ALTER TABLE [dbo].[Sales] ENABLE TRIGGER [TRG_Notif_ArtworkSold]
GO
/****** Object:  Trigger [dbo].[TRG_Notif_AwardGranted]    Script Date: 03/04/2026 11:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 5. TRG_Notif_AwardGranted
--    Notifies student when award is granted
--    Uses CompetitionAwardId → Awards join for name
-- ============================================================
CREATE TRIGGER [dbo].[TRG_Notif_AwardGranted]
ON [dbo].[StudentAwards]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, CompetitionId)
    SELECT
        s.StudentId,
        'award',
        N'Congratulations! Award Won',
        N'You won "' + a.AwardName + N'" for your submission "' + ISNULL(s.Title, N'Untitled') + N'".',
        N'/dashboard/my-awards',
        s.Id,
        s.CompetitionId
    FROM inserted i
    JOIN Submissions s        ON s.Id  = i.SubmissionId
    JOIN CompetitionAwards ca ON ca.Id = i.CompetitionAwardId
    JOIN Awards a             ON a.Id  = ca.AwardId;
END;
GO
ALTER TABLE [dbo].[StudentAwards] ENABLE TRIGGER [TRG_Notif_AwardGranted]
GO
/****** Object:  Trigger [dbo].[TRG_Notif_SubmissionReviewed]    Script Date: 03/04/2026 11:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 6. TRG_Notif_SubmissionReviewed
--    Notifies student and managers when submission is reviewed
-- ============================================================
CREATE TRIGGER [dbo].[TRG_Notif_SubmissionReviewed]
ON [dbo].[SubmissionReviews]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Notify student
    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, CompetitionId)
    SELECT
        s.StudentId,
        'submission',
        N'Submission Evaluated',
        N'Your submission "' + ISNULL(s.Title, N'Untitled') + N'" has been rated as "' + i.RatingLevel + N'".',
        N'/dashboard/my-submissions',
        s.Id,
        s.CompetitionId
    FROM inserted i
    JOIN Submissions s ON s.Id = i.SubmissionId;

    -- Notify all active managers
    INSERT INTO Notifications (UserId, Type, Title, Message, Link, SubmissionId, CompetitionId)
    SELECT
        u.Id,
        'submission',
        N'Submission Reviewed',
        N'Staff reviewed "' + ISNULL(s.Title, N'Untitled') + N'" - rated ' + i.RatingLevel + N'.',
        N'/dashboard/submissions',
        s.Id,
        s.CompetitionId
    FROM inserted i
    JOIN Submissions s ON s.Id = i.SubmissionId
    CROSS JOIN (
        SELECT Id FROM Users
        WHERE RoleId = (SELECT Id FROM Roles WHERE RoleName = 'Manager')
        AND IsActive = 1
    ) u;
END;
GO
ALTER TABLE [dbo].[SubmissionReviews] ENABLE TRIGGER [TRG_Notif_SubmissionReviewed]
GO
USE [master]
GO
